:root {
    --neutral: #efefdf;
    --accent: #e53f0c;
    --accent-2: #25a244;
    --dark: #222222;
    --lighter: #333333;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:  border-box;
    margin:  0;
    background-color:  var(--neutral);
    height: 100%;
    color:  var(--text-color);
    font-size: 16px;
    display: grid;
    grid-template-areas:
        "head"
        "main"
        "aside"
        "foot";
    grid-template-rows: max-content auto max-content 10%;
}

/* Header Styles */
header {
    grid-area: head;
    color: var(--dark);
    background: linear-gradient(to right, var(--neutral) 70%, var(--accent) 30%);
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

#menu-btn {
    background-color: inherit;
    border: none;
    width: 40px;
}

.menu-item, .menu-item a {
    list-style: none;
    text-decoration: none;
}
a:link {
    color: var(--dark);
}
a:hover, a:active {
    font-weight: bold;
}
a:visited {
    color: var(--dark);
}

/*  Haiku input  */
main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#haiku-container {
    background: var(--dark);
    min-height: 15em;
    width:100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: space-between;
    padding: 1em 1.5em;
}

.haiku-line {
    display: flex; 
    flex-wrap: wrap;
    gap:.6em;
}

.haiku-word {
    padding: .2em;
    color: var(--neutral);
}

.valid-word {
    background: var(--dark);
    color: var(--neutral);
    border-bottom: .2em solid var(--accent-2);
}

#current-word {
    width: 8em;
    border-radius: none;
}
#current-word:focus {
    border: 3px solid var(--accent);
    outline: none;
    
}

#synonym-container {
    grid-area: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    
}

.synonym-button {
    color: var(--neutral);
}
 
.synonym-button:hover {
    color: var(--neutral);
    border-bottom: var(--accent);
}

/* footer */
footer {
    grid-area: foot;
    text-align: center;
}

/* Buttons */
button {
    color: var(--neutral);
    border: none;
    border-radius: 10px;
    background-color: var(--dark);
    width: 80px;
    height: 50px;
}
.close-button {
    width: 30px;
    height: 30px;
    font-weight: 900;
    border: none;
    border-radius: 50%;
    color: var(--accent);
}

.button-container {
    margin: 2em 0;
    grid-area: center;
    display: flex;
    justify-content: center;
    gap: 2em;
}

/* Submit Form */
form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-component {
    display: flex;
    justify-content: space-between;
}

.form-component > label {
    color: var(--neutral);
    flex-basis: 20%;
    text-align: left;
}

.form-component > input {
    width: 10em;
    border-radius: none;
    border: none;
    background-color: var(--neutral);
}

.form-component > input:focus {
    outline: 3px solid var(--accent);
}

.modal {
    text-align: right;
    position: absolute;
    padding: .5em;
    left: 20%;
    right: 20%;
    top: 30%;
    min-height: 200px;
    border-radius: 10px;
    background-color: var(--lighter);
}

.display-none {
    display: none;
}

/* For larger screens: */
@media only screen and (min-width: 648px) {
    body {
        grid-template-areas:
            "head y    y"
            "head main aside"
            "head modal aside"
            "head foot x";
        grid-template-rows: 4em max-content auto 10%;
        gap: 2em;
    }

    #menu-btn {
        display: none;
    }

    header {
        grid-area: head;
        background: none;
        background: var(--accent);
        margin-left: 50%;
    }
    
    nav {
        display: block !important;
    }
    
    nav > ul {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    main {
        grid-area: main;
    }
    
    #haiku-container {
        border-radius: 10px;
    }


    .modal {
        position: static;
        grid-area: modal;
        background-color: var(--dark);
    }

    footer {
        grid-area: foot;
    }
  }