:root {
    --bg-color-primary: blanchedalmond;
    --bg-color-secondary: lightgray;
    --bg-color-button: firebrick;
    --accent-color: black;
    --text-color: black;
    --highlight-color: red;
}

body {
    background-color: var(--bg-color-primary);
    color: var(--text-color);
    font-size: 16px;
}

/* Header Styles */
.banner {
    display: flex;
    justify-content: space-between;
}

#menu-btn {
    justify-self: right;
    background-color: inherit;
    border: none;
    width: 40px;
}

.menu-item {
    list-style: none;
}

/*  Haiku input  */

#haiku-container {
    background: var(--bg-color-secondary);
    height: 7em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: space-between;
    height: fit-content;
    margin-bottom: 1em;
}

.haiku-line {
    display: flex; 
    gap:.6em;
}

.haiku-word {
    border: 1px solid black;
    border-radius: 2px;
    padding: .2em;
}

.valid-word {
    box-shadow: 0px 0px 2px 2px green;
}

#current-word {
    order: 1;
}

#synonym-container {
    background-color: var(--bg-color-secondary);
    margin-bottom: 1em;
    display: flex;
    gap: 1 em;
    padding: .2em;
}

.synonym-button {
    background-color: var(--bg-color-button);

}

/* Buttons */
.button-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

/* Submit Form */
form {
    border: 1px solid black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    bottom: 20%;
    left: 10%;
    right: 10%;
}

.form-component {
    display: flex;
}

.form-component > label {
    flex-basis: 30%
}

.display-none {
    display: none;
}